<div class="container bg bg-light mt-5 col-6 py-5 mx-0 ps-5">
<h3 class="pb-3">Ingrese datos del libro</h3>
    <%= form_with model: @book do |f| %>
        <div>
            <%= f.text_field :title, placeholder: "Ingrese título" %>
        </div>

        <div class="my-2">
            <%= f.text_field :author, placeholder: "Ingrese autor" %>
        </div>

        <div>
            <%= f.label :Estado %>
            <%= f.select :status, Book.statuses.keys %>
        </div>

        <div class="my-2">
            <%= f.label :Fecha_prestamo %>
            <%= f.date_field :borrow_date %>
        </div>

        <div>
            <%= f.label :Fecha_retorno %>
            <%= f.date_field :return_date %>
        </div>

        <div class="mt-2">
            <%= f.text_field :friend, placeholder: "Ingrese amigo" %>
        </div>

        <div>
            <%= f.submit "Guardar", class: "btn btn-success mt-3" %>
        </div>

    <% end %>
</div>